*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Cairo', sans-serif !important;
    direction: rtl;
}
h1, h2, h3, p, ul{
    margin-bottom: 0;
}
a{
    text-decoration: none;
}
li{
    list-style: none;
}
select{
    cursor: pointer;
}
input,
select{
    outline: none;
}

/* language ar */
.ar_direction{
    direction: rtl;
} 

/* custom class */
.main_color{
    color: #BF2528;
}
.flex_center{
    display: flex;
    justify-content: center;
}
.flex_all_center{
    display: flex;
    justify-content: center;
    align-items: center;
}
.flex_all_center_y{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.flex_space_between{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.page_container{
    padding: 0 160px;
}
.yellow_btn{
    background-color: #D3AC67;
    color: #FFF;
    width: 216px;
    border-radius: 8px;
    text-align: center;
    padding: 10px 0;
    border: 0;
    font-size: 24px;
}
.switch_carousel{
    background-color: #100446;
    padding: 0 120px;
    display: flex;
    @media(max-width: 1200px) {
        padding: 0;
    }
    div{
        width: calc(100% / 3);
        text-align: center;
        padding: 20px 0;
        cursor: pointer;
    }
    span{
        color: #FFF;
        font-size: 36px;
        @media(max-width: 768px) {
            font-size: 18px;
        }
    }
}
.carousel_active{
    background-color: #C39E5E;
}
.center_title_header{
    height: 600px;
    background-repeat: no-repeat;
    @media(max-width: 768px) {
        height: 500px;
    }
    @media(max-width: 576px) {
        height: 400px;
    }
    span{
        font-size: 110px;
        color: #FFF;
        font-weight: 600;
        @media(max-width: 768px) {
            font-size: 50px;
        }
        @media(max-width: 576px) {
            font-size: 30px;
        }
    }
}
.offersHeader{
    background-size: cover;
    height: 690px;
    @media(max-width: 1400px) {
        height: 500px;
        background-size: contain;
    }
    @media(max-width: 992px) {
        height: 379px;
    }
    @media(max-width: 768px) {
        height: 280px;
    }
    @media(max-width: 576px) {
        height: 200px;
    }
}

.display_none{
    display: none;
}
.hotel_link_active{
    background-color: #C39E5E;
}

.hotel_section_active{
    background-color: #100446;
    color: #FFF !important;
}

// title with right yellow border
.title_with_right_border{
    font-size: 36px;
    display: flex;
    align-items: center;
    margin: 50px 0 20px 0;
    @media(max-width: 576px) {
        font-size: 26px;
    }
    .rightBorder{
        height: 50px;
        width: 7px;
        background-color: #C39E5E;
        border-radius: 4px;
        margin-left: 10px;
    }
}

//  description p
.description_p{
    font-size: 36px;
    line-height: 60px;
    margin: 40px 0;
    @media(max-width: 1200px) {
        font-size: 30px;
    }
    @media(max-width: 768px) {
        font-size: 24px;
        line-height: 40px;
    }
    @media(max-width: 576px) {
        font-size: 18px;
    }
}

// titles with arrow
.titles_with_points{
    margin: 30px 0;
    p{
        font-size: 35px;
        margin-bottom: 40px;
        @media(max-width: 1200px) {
            font-size: 26px;
        }
        @media(max-width: 768px) {
            font-size: 20px;
            line-height: 40px;
        }
        @media(max-width: 576px) {
            font-size: 18px;
        }
        svg{
            color: #000 !important;
            font-size: 30px;
            margin-left: 20px;
        }
    }
}

// routing and title im hotels
.routing_container{
    padding: 100px 160px 50px 160px;
    @media(max-width: 1200px) {
        padding: 100px 50px 0 50px;
    }
    @media(max-width: 992px) {
        padding: 100px 20px 0 20px;
    }
    .title {
        font-size:36px;
        color: #707070;
        letter-spacing: -1.08px;
        margin-bottom: 20px;
        @media(max-width: 1300px) {
            font-size: 30px;
        }
        a{
            color: #707070;
        }
    }

    .cover {
        .head_cover {
            margin-bottom: 40px;
            @media(max-width: 992px) {
                flex-direction: column;
                justify-content: center;
            }
            .btns {
                @media(max-width: 576px) {
                    flex-direction: column;
                    justify-content: center;
                }
                .btn {
                    background: #D3AC67;
                    font-size: 22px;
                    color: #FFFFFF;
                    padding:5px 15px;
                    border-radius: 8px;
                    width: 216px;
                    @media(max-width: 1400px) {
                        width: 180px;
                    }
                }
                .btn:first-child{
                    margin-left: 20px;
                    @media(max-width: 576px) {
                        margin: 0 0 10px 0;
                    }
                }
            }
            p {
                font-size: 48px;
                letter-spacing: -1.44px;
                @media(max-width: 1300px) {
                    font-size: 38px;
                }
                @media(max-width: 992px) {
                    margin-bottom: 20px;
                }
                @media(max-width: 576px) {
                    font-size: 26px;
                }
            }
        }
    }
}
.type_one_descriptipn {
    p {
        font-size: 21px;
        letter-spacing: -0.63px;
        line-height: 47px;
        @media(max-width: 992px) {
            font-size: 18px;
        }
        @media(max-width: 576px) {
            font-size: 16px;
        }
    }
}

.HotelContactUs{
    text-align: center;
    background-color: #100446;
    padding: 20px 0;
    h3{
        font-size: 48px;
        color: #C39E5E;
        margin-bottom: 26px;
    }
    p{
        font-size: 36px;
        color: #FFF;
        margin-bottom: 26px;
        @media(max-width: 992px) {
            font-size: 26px;
        }
        @media(max-width: 576px) {
            font-size: 20px;
        }
    }
}

// ***************************
// Hotel type 2
// *****************
.hotel_header_type2{
    display: flex;
    justify-content: space-between;
    @media(max-width: 992px) {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .img_container{
        width: 48%;
        @media(max-width: 992px) {
            width: 100%;
            margin-bottom: 20px;
        }
        img{
            width: 100%;
        }
    }
    .hotel_description{
        width: 48%;
        @media(max-width: 992px) {
            width: 100%;
        }
        p{
            font-size: 21px;
            line-height: 47px;
            @media(max-width: 1600px) {
                font-size: 18px;
                line-height: 40px;
            }
        }
        p:first-child{
            margin-bottom: 50px;
            @media(max-width: 1650px) {
                margin-bottom: 30px;
            }
        }
    }
}
.hotel_sections_type2{
    background-color: #100446;
    border-radius: 25px;
    padding: 10px 0;
    margin-top: 50px;
    h3{
        font-size: 56px;
        color: #FFF;
        text-align: center;
        @media(max-width: 992px) {
            font-size: 30px;
        }
    }
}
// start hotel halls
.hotel_halls_container{
    background-color: #100446;
    padding: 40px;
    margin-top: 40px;
    @media(max-width: 576px) {
        padding: 10px;
    }
    .hall{
        margin-bottom: 100px;
        @media(max-width: 992px) {
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }
        .img_container{
            width: 30%;
            @media(max-width: 992px) {
                width: 100%;
                margin-bottom: 20px;
            }
            .main_img{
                width: 100%;
                border-radius: 10px;
                overflow: hidden;
                img{
                    width: 100%;
                }
            }
        }
        .description{
            width: 68%;
            @media(max-width: 992px) {
                width: 100%;
                text-align: center;
            }
            h3{
                font-size: 36px;
                color: #C39E5E;
                margin-bottom: 30px;
            }
            p{
                font-size: 24px;
                color: #FFF;
                line-height: 47px;
                width: 90%;
                @media(max-width: 1200px) {
                    width: 100%;
                    font-size: 18px;
                }
            }
        }
    }
}
// start hotel servives
.hotel_services{
    margin-top: 40px;
    flex-wrap: wrap;
    align-items: flex-start;
    h3{
        text-align: center;
        font-size: 36px;
        margin-bottom: 140px;
        width: 100%;
        @media(max-width: 992px) {
            margin-bottom: 20px;
        }
    }
    .servicesContainer{
        width: 45%;
        @media(max-width: 992px) {
            width: 100%;
        }
        .roomServices,
        .hotelServices{
            margin-bottom: 40px;
        }
        
        .service{
            span{
                display: flex;
                align-items: center;
                font-size: 24px;
                margin-bottom: 24px;
                svg{
                    margin-left: 10px;
                    color: #000 !important;
                    font-size: 30px;
                }
            }
            p{
                font-size: 24px;
                @media(max-width: 576px) {
                    font-size: 18px;
                }
            }
        }
    }
}
// ***************************
// end of Hotel type 2
// *****************


// ***************************
// start reservation
// *****************
.reservation_container{
    h3{
        font-size: 60px;
        text-align: center;
        margin: 60px 0;
    }
    .reservation_form{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        > div{
            width: 45%;
            margin-bottom: 24px;
            @media(max-width: 992px) {
                width: 100%;
            }
            span{
                display: block;
                font-size: 24px;
                margin-bottom: 16px;
            }
            .inp{
                border: 1px solid #70707080;
                color: #70707080;
                padding: 10px 20px;
                border-radius: 8px;
                font-size: 24px;
                display: block;
                width: 100%;
                height: 80px;
                display: flex;
                align-items: center;
            }
            .inp::placeholder{
                color: #70707080;
                font-size: 24px;
            }
        }
    }

    .reservation_footer{
        margin-bottom: 30px;
        @media(max-width: 992px) {
            flex-direction: column;
            justify-content: center;
        }
        > div{
            p{
                font-size: 30px;
                @media(max-width: 992px) {
                    text-align: center;
                    margin-bottom: 20px;
                }
            }
        }
    }
}
// ***************************
// end of reservation
// *****************




/* Start Header */
#carouselExampleControls{
    height: 700px;
    overflow: hidden;
}
#carouselExampleControls .carousel-item{
    position: relative;
}
#carouselExampleControls .carousel-inner,
#carouselExampleControls .carousel-item,
#carouselExampleControls .carousel-item img{
    height: 100%;
}
#carouselExampleControls .carousel-item .slider_description{
    position: absolute;
    top: 100px;
    padding-right: 10%;
}
#carouselExampleControls .carousel-item .slider_description h4{
    font-size: 25px;
    color: #FFF;
}
#carouselExampleControls .carousel-item .slider_description h3{
    color: #FFF;
    font-size: 110px;
    margin-bottom: 20px;
}
#carouselExampleControls .carousel-item .slider_description a{
    font-size: 18px;
    color: #FFF;
    border: 2px solid #FFF;
    padding: 5px 10px;
}
#carouselExampleControls .btn_container{
    color: #FFF;
    cursor: pointer;
    background-color: #D3AC67;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 64px;
    height: 64px;
    border-radius: 50%;
    font-size: 30px;
}
/* End of Header */



/* Start bottom NavBar */
.Bottom_nav{
    height: 100px;
    background-color: #100446;
    padding: 20px;
}
.Bottom_nav .filters_container{
    margin-left: 30px;
}
.Bottom_nav .filters_container .filter{
    margin-left: 20px;
    width: 200px;
}
.Bottom_nav .filters_container .filter span{
    font-size: 16px;
    font-weight: 400;
    color: #FFF;
    display: block;
}
.Bottom_nav .filters_container .filter input{
    width: 100%;
    border: 0;
    border-bottom: 2px solid #707070;
    color: #707070;
    font-size: 12px;
    background-color: transparent;
    text-align: center;
}
.Bottom_nav .filters_container .filter input::placeholder{
    font-size: 12px;
    color: #707070;
}
        
.Bottom_nav .reservation a{
    background-color: #D3AC67;
    border: 0;
    color: #FFF;
    font-size: 18px;
    font-weight: 400;
    padding: 10px 30px;
    width: 250px;
    text-align: center;
}
/* end of bottom NavBar */



/* start top nav bar */
.top_nav{
    height: 100px;
    background-color: #100446;
    position: relative;
}
.top_nav .links_container{
    position: absolute;
    z-index: 99;
    top: 50px;
    right: 0;
    left: 0;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    padding: 0 20px;
    background-color: #FFF;
    box-shadow: 0px 3px 6px #00000029;
}
.top_nav .links_container .lang {
    display: flex;
    .mobile_menu_icone{
        display: none;
        @media(max-width: 992px) {
            display: block;
            svg{
                width: 50px;
            }
        }
    }
}
.mobile_menu{
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    width: 400px;
    background-color: #100446;
    z-index: 999;
    @media(max-width: 576px) {
        width: 100%;
    }
    .close_icone{
        padding: 20px;
        svg{
            color: #FFF;
        }
    }
    .menu_links{
        height: 100%;
        padding: 20px 0;
        ul{
            height: 100%;
            display: block;
            width: 100%;
            text-align: center;
            height: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: space-between;
            padding-left: 0;
            li{
                a{
                    font-size: 26px;
                    font-weight: 600;
                    color: #FFF;
                }
            }
        }
    }
}
.top_nav .links_container .lang select{
    color: #B4811A;
    border: 1px solid #B4811A;
    border-radius: 20px;
    font-size: 14px;
}
.top_nav .links_container ul{
    display: flex;
    align-items: center;
    padding-left: 0;
}
.top_nav .links_container ul li{
    margin-left: 20px;
}
.top_nav .links_container ul li a{
    color: #100446;
}
/* end of top nav bar */

/* start footer */
.footer .top_footer{
display: flex;
padding: 93px 250px;
background-image: url('../../assets/images/footerBG.png');
display: flex;
justify-content: space-between;}

.footer .top_footer >div{
    width: 25%;
}
.footer .top_footer >div h3{
    font-size: 24px;
    color: #222222;
    margin-bottom: 30px;
    text-align: center;
}
.footer .top_footer >div ul{
    display: block;
}
.footer .top_footer >div ul li{
    display: flex;
    align-items: center;
    margin-bottom: 30px;
}
.footer .top_footer >div ul span{
    font-size: 14px;
    color: #777777;
}
.footer .top_footer >div ul img{
    margin-right: 10px;
}
.footer .top_footer >div ul a{
    font-size: 14px;
    color: #777777;
}
                
.footer .li_border{
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}
.footer .top_footer >div .left_flexli{
    justify-content: flex-end;
    padding-bottom: 30px;
}
.footer .top_footer >div .footer_services{
    width: 200px;
}
.footer .top_footer >div .footer_category{
    width: 250px;
}
.footer .top_footer ul{
    margin-top: 60px;
}
.footer .bottom_footer{
    background-color: #100446;
    padding: 24px 400px;
}
.footer .bottom_footer p{
    font-size: 14px;
    color: #D3AC67;
}
/* end of footer */












/******************* start responsive ***************/
@media(max-width: 1650px) {
    .footer .top_footer{
        padding: 93px 180px;
    }
}
@media(max-width: 1400px) {
    .page_container{
        padding: 0 90px;
    }
    #carouselExampleControls .carousel-item .slider_description h3{
        font-size: 80px;
    }
    .footer .top_footer{
        padding: 93px 50px;
    }
}

@media(max-width: 1200px) {
    .page_container{
        padding: 0 50px;
    }
    #carouselExampleControls .carousel-item .slider_description h3{
        font-size: 60px;
    }
    #carouselExampleControls{
        height: 400px;
    }
    .footer .top_footer >div .footer_services{
        width: 25%;
    }
    .footer .top_footer >div .footer_category{
        width: 25%;
    }
    .footer .bottom_footer{
        padding: 24px 50px;
    }
}
@media(max-width: 1100px) {
    .top_nav .links_container{
        width: 95%;
    }
}

@media(max-width: 992px) {
    .page_container{
        padding: 0 20px;
    }
    .top_nav .links_container ul{
        display: none;
    }
    #carouselExampleControls .carousel-item .slider_description h3{
        font-size: 40px;
    }
    #carouselExampleControls .carousel-item .slider_description{
        padding-right: 15%;
    }
    .footer .top_footer{
        padding: 50px;
        flex-direction: column;
        justify-content: center;
    }
    .footer .top_footer >div {
        width: 100%;
    }
    .footer .top_footer >div .footer_services{
        width: 100%;
    }
    .footer .top_footer >div .footer_category{
        width: 100%;
    }
    .Bottom_nav{
        flex-direction: column;
        height: auto;
        padding: 20px;
    }
    .Bottom_nav .filters_container{
        margin: 0 0 20px 0; 
    }
}
@media(max-width: 768px) {
    .Bottom_nav .filters_container{
        flex-direction: column;
        align-items: center;
    }
    .Bottom_nav .filters_container .filter{
        margin: 0 0 10px 0;
        text-align: center;
    }
}
@media(max-width: 576px) {
    .footer .bottom_footer{
        flex-direction: column;
    }
}



// start Home Page
.home_page{
    .recruitment{
        // width: 80%;
        margin: 100px auto 90px auto;
        padding: 0 20px;
        @media(max-width: 1200px) {
            flex-direction: column;
            align-items: center;
        }
        .img_container{
            img{
                @media(max-width: 1200px) {
                    width: 100%;
                }
            }
        }
        .description{
            margin: 54px 50px 0 0;
            @media(max-width: 1200px) {
                margin: 54px 0 0 0;
            }
            @media(max-width: 1200px) {
                text-align: center;
            }
            h4{
                font-size: 18px;
                font-weight: 600;
                color: #777777;
                margin-bottom: 30px;
            }
            h3{
                font-size: 80px;
                color: #111111;
                font-weight: 600;
                margin-bottom: 30px;
                @media(max-width: 1300px) {
                    font-size: 65px;
                }
                @media(max-width: 576px) {
                    font-size: 35px;
                }
            }
            p{
                font-size: 14px;
                color: #777777;
                font-weight: 400;
                margin-bottom: 80px;
            }
            .links_container{
                display: flex;
                justify-content: center;
                @media(max-width: 576px) {
                    flex-direction: column;
                    align-items: center;
                }
                .description_link{
                    width: 216px;
                    height: 60px;
                    background-color: #D3AC67 !important;
                    color: #FFF;
                    font-size: 18px;
                    margin-left: 20px;
                    @media(max-width: 576px) {
                        margin: 0 0 20px 0;
                    }
                }
            }
        }
        
    }
    
    // start services
    .our_services{
        background-color: #100446;
        padding: 62px 270px;
        margin-bottom: 140px;
        @media(max-width: 1500px) {
            padding: 60px 180px;
        }
        @media(max-width: 1400px) {
            padding: 60px 100px;
        }
        @media(max-width: 1200px) {
            padding: 60px 20px;
        }
        .titles{
            text-align: center;
            margin-bottom: 60px;
            span{
                font-size: 14px;
                margin-bottom: 10px;
                color: rgba(255, 255, 255, 0.733);
            }
            h3{
                font-size: 80px;
                font-weight: 600;
                color: #FFF;
            }
        }
        .services_container{
            flex-wrap: wrap;
            .services_width{
                width: 33%;
                @media(max-width: 1200px) {
                    width: 45%;
                }
                @media(max-width: 768px) {
                    width: 100%;
                }
            }
            .service{
                background-color: #D3AC67;
                width: 309px;
                height: 206px;
                border-radius: 8px;
                margin-bottom: 67px;
                span{
                    color: #FFF;
                    font-size: 24px;
                }
            }
        }
    }
    
    // start rooms
    .rooms{
        margin-bottom: 230px;
        >h3{
            font-size: 80px;
            color: #222222;
            text-align: center;
            margin-bottom: 30px;
            @media(max-width: 768px) {
                font-size: 40px;
            }
        }
        .room_carousel_container{
            position: relative;
            .resirvation{
                padding: 22px 30px;
                width: 570px;
                height: 172px;
                background: #FFFFFF;
                box-shadow: 0 0 10px #00000029;
                position: absolute;
                bottom: -117px;
                left: 0;
                right: 0;
                margin-left: auto;
                margin-right: auto;
                align-items: flex-start;
                @media(max-width: 576px) {
                    width: 100%;
                    text-align: center;
                    display: block;
                }
                h3{
                    font-size: 36px;
                    color: #222222;
                }
                .room_uniq{
                    width: 100%;
                    @media(max-width: 768px) {
                        flex-direction: column;
                    }
                    span{
                        color: #777777;
                        font-size: 14px;
                        @media(max-width: 768px) {
                            margin: 10px 0;
                        }
                    }
                    .uniq_with{
                        display: flex;
                        a{
                            font-size: 18px;
                            color: #100446;
                            border: 3px solid #100446;
                            padding: 5px 10px;
                        }
                        p:first-child{
                            margin-left: 20px;
                        }
                    }
                }
            }
        }
        .rooms_carousel{
            
            display: flex;
            justify-content: space-between;
            overflow: hidden;
            @media(max-width: 992px) {
                display: block;
                height: 400px;
            }
            .room{
                width: 32%;
                height: 400px;
                @media(max-width: 992px) {
                    width: 100%;
                    // display: none;
                }
                img{
                    width: 100%;
                    height: 100%;
                }
            }
            .room:first-child{
                @media(max-width: 992px) {
                    display: block;
                }
            }
            // start rooms carousel
            .pervProduct,
            .nextProduct{
                position: absolute;
                top: 151px;
                left: 313px;
                padding: 4px;
                width: 80px;
                height: 80px;
                display: flex;
                justify-content: center;
                align-items: center;
                color: #D3AC67;
                font-size: 30px;
                border: 0;
                @media(max-width: 1500px) {
                    top: 100px;
                    left: 100px;
                }
                @media(max-width: 1200px) {
                    top: 70px;
                    left: 40px;
                }
                @media(max-width: 992px) {
                    top: 130px;
                }
            }
            .nextProduct{
                right: 313px;
                background-color: #D3AC67;
                color: #FFF;
                @media(max-width: 1500px) {
                    right: 100px;
                }
                @media(max-width: 1200px) {
                    right: 70px;
                }
            }
    
        }
    }
    
    
    // start offers
    .limited_offers{
        display: flex;
        @media(max-width: 1200px) {
            flex-direction: column;
        }
        .description{
            position: relative;
            background-color: #100446;
            padding: 157px 290px;
            width: 70%;
            @media(max-width:1650px) {
                padding: 157px 150px 157px 290px;
            }
            @media(max-width:1450px) {
                padding: 157px 50px 157px 290px;
            }
            @media(max-width: 1200px) {
                width: 100%;
                padding: 40px;
                text-align: center;
            }
            @media(max-width: 768px) {
                padding: 20px;
            }
            h3{
                font-size: 70px;
                color: #FFF;
                margin-bottom: 10px;
                @media(max-width: 768px) {
                    font-size: 40px;
                }
            }
            p{
                font-size: 16px;
                color: #C2C2C2;
                margin-bottom: 20px;
            }
            .book_now_container{
                width: 538px;
                @media(max-width: 1200px) {
                    width: 100%;
                }
                .book_now{
                    width: 216px;
                    text-align: center;
                    padding: 15px 0;
                    font-size: 16px;
                    color: #FFF;
                    background-color: #D3AC67;
                    display: block;
                    margin: 0 auto 64px 0;
                    @media(max-width: 1200px) {
                        margin: auto auto 20px auto;
                    }
                }
            }
            .all_oofers{
                border: 2px solid #FFF;
                color: #FFF;
                font-size: 16px;
                width: 538px;
                text-align: center;
                display: block;
                padding: 10px 0;
                @media(max-width: 1200px) {
                    margin: auto auto 20px auto;
                }
                @media(max-width: 768px) {
                    width: 100%;
                }
            }
            .offers_img{
                position: absolute;
                top: 63px;
                left: -278px;
                height: 370px;
                width: 50%;

                @media(max-width: 1300px) {
                    left: -350px;
                }
                @media(max-width: 1200px) {
                    position: unset;
                }
                @media(max-width: 768px) {
                    width: 100%;
                }
                img{
                    @media(max-width: 768px) {
                        width: 100%;
                    }
                }
            }
        }
        .style_div{
            background-color: #D3AC67;
            width: 30%;
        }
        
    }
    .social{
        margin: 100px 0;
        h3{
            font-size: 80px;
            font-weight: 600;
            text-align: center;
            @media(max-width: 768px) {
                font-size: 40px;
            }
        }
        .social_container{
            display: flex;
            justify-content: center;
            @media(max-width: 992px) {
                flex-direction: column;
            }
            .social_links{
                margin: 70px 100px 50px 100px;
                @media(max-width: 1200px) {
                    margin: 70px 50px 50px 50px;
                }
                > div{
                    @media(max-width: 992px) {
                        text-align: center;
                    }
                }
                img{
                    margin: 0 10px;
                    @media(max-width: 992px) {
                        margin: 10px;
                    }
                }
                p{
                    font-size: 30px;
                    font-weight: 600;
                    text-align: center;
                    color: #777777;
                    margin-top: 30px;
                }
            }
        }
    }
}
// end of Home Page

// start hotel links
// hotels
.hotels_links_container{
    padding: 200px 130px;
    @media(max-width: 1400px) {
        padding: 100px 50px;
    }
    @media(max-width: 992px) {
        padding: 100px 20px;
    }
    flex-wrap: wrap;
    >div{
        width: 30%;
        @media(max-width: 992px) {
            width: 48%;
        }
        @media(max-width: 600px) {
            width: 100%;
        }
    }
    .hotel{
        box-shadow: 0px 3px 10px #00000029;
        border-radius: 8px;
        text-align: center;
        padding: 10px;
        margin-bottom: 60px;
        .img_container{
            width: 100%;
            height: 388px;
            overflow: hidden;
            @media(max-width: 1400px) {
                height: 270px;
            }
            img{
                width: 100%;
            }
        }
        p{
            font-size: 36px;
            color: #000;
            margin: 24px 0;
            @media(max-width: 1650px) {
                font-size: 30px;
            }
            @media(max-width: 1400px) {
                font-size: 20px;
            }
        }
        a{
            background-color: #C39E5E;
            font-size: 24px;
            color: #FFF;
            display: block;
            width: 90%;
            margin: 0 auto 20px auto;
            border-radius: 10px;
            padding: 10px 0;
        }
    }
}
// end of hotel links

// start rooms
.hotelCarousel{
    margin: 50px 0;
    >h3{
        font-size: 80px;
        color: #222222;
        text-align: center;
        margin-bottom: 30px;
        @media(max-width: 768px) {
            font-size: 40px;
        }
    }
    .room_carousel_container{
        position: relative;
    } 
    .rooms_carousel{
        
        display: flex;
        justify-content: space-between;
        overflow: hidden;
        padding:  0 50px;
        .room{
            width: 32%;
            cursor: pointer;
            // height: 310px;
            @media(max-width: 992px) {
                width: 100%;
                display: none;
            }
            img{
                width: 100%;
            }
        }
        .room:first-child{
            @media(max-width: 992px) {
                display: block;
            }
        }
        // start rooms carousel
        .pervProduct,
        .nextProduct{
            position: absolute;
            top: 0;
            left: 0;
            padding: 4px;
            width: 45px;
            height: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            color: #FFF;
            font-size: 30px;
            border: 0;
            background-color: #D3AC67;
            display: flex;
            justify-content: center;
            align-items: center;
        }
        .nextProduct{
            right: 0;
        }

    }
}


// start about us page
.about_us {
    margin-top: 100px;
    .about_us_container{
        padding: 0 140px;
        @media(max-width: 1200px) {
            padding: 0 50px;
        }
        @media(max-width: 992px) {
            padding: 0 20px;
        }
    }
    .heading {
        h3 {
            font-size: 80px;
            font-weight: 600;
            @media(max-width: 992px) {
                font-size: 40px;
            }
        }
    }
    .about_us_description {
        p {
            font-size: 34px;
            text-align: right;
            color: #777777;
            line-height: 1.4;
            @media(max-width: 1200px) {
                font-size: 26px;
            }
            @media(max-width: 992px) {
                font-size: 18px;
            }
            @media(max-width: 768px) {
                font-size: 16px;
            }
        }
    }
}
// end of about us page

// start recruitment page
.recruitment{
    // width: 80%;
    margin: 100px auto 90px auto;
    padding: 0 20px;
    @media(max-width: 1200px) {
        flex-direction: column;
        align-items: center;
    }
    .img_container{
        img{
            @media(max-width: 1200px) {
                width: 100%;
            }
        }
    }
    .description{
        margin: 54px 50px 0 0;
        @media(max-width: 1200px) {
            margin: 54px 0 0 0;
        }
        @media(max-width: 1200px) {
            text-align: center;
        }
        h3{
            font-size: 80px;
            color: #111111;
            font-weight: 600;
            margin-bottom: 30px;
            @media(max-width: 1300px) {
                font-size: 65px;
            }
            @media(max-width: 576px) {
                font-size: 35px;
            }
        }
        p{
            font-size: 40px;
            color: #777777;
            font-weight: 400;
            margin-bottom: 80px;
            @media(max-width: 576px) {
                font-size: 20px;
            }
        }
    }
}
// end of recruitment page

// end of AwardsAndCertificatesOfAppreciation page
.company_logo{
    margin: 70px;
    text-align: center;
}
.awards_imgs{
    flex-wrap: wrap;
    .img{
        width: calc(100% / 3);
        margin-bottom: 40px;
        @media(max-width: 992px) {
            width: 50%;
        }
        @media(max-width: 768px) {
            width: 100%;
        }
        img{
            max-width: 100%;
        }
    }
}
// end of AwardsAndCertificatesOfAppreciation page

// end of contact_us page
.contact_us{
    // width: 80%;
    margin: 100px auto 90px auto;
    padding: 0 20px;
    @media(max-width: 1200px) {
        flex-direction: column;
        align-items: center;
    }
    .img_container{
        img{
            @media(max-width: 1200px) {
                width: 100%;
            }
        }
    }
    .description{
        margin: 54px 50px 0 0;
        @media(max-width: 1200px) {
            margin: 54px 0 0 0;
            text-align: center;
        }
        h3{
            font-size: 80px;
            color: #111111;
            font-weight: 600;
            margin-bottom: 30px;
            @media(max-width: 1300px) {
                font-size: 65px;
            }
            @media(max-width: 576px) {
                font-size: 35px;
            }
        }
        p{
            font-size: 40px;
            color: #777777;
            font-weight: 400;
            margin-bottom: 10px;
            @media(max-width: 576px) {
                font-size: 20px;
            }
        }
    }
}
// end of contact_us page

// start supply and catering page
.flex_container{
    .titles_with_points{
        flex-wrap: wrap;
        align-items: flex-start;
        p{
            font-size: 32px;
            width: 48%;
            svg{
                font-size: 18px;
            }
            @media(max-width: 992px) {
                width: 100%;
            }
        }
    }
}
// end of supply and catering page

.AlSafwaa_img_container{
    display: flex;
    flex-wrap: wrap;
    > div{
        width: 28%;
        margin: 0 0 30px 30px;
        @media(max-width: 768px){ 
            width: 100%;
            text-align: center;
        }
    }
    img{
        max-width: 100%;
    }
}


.offers{
    .description{
        @media(max-width: 992px) {
            flex-direction: column;
        }
        > div{
            width: 50%;
            @media(max-width: 992px) {
                width: 100%;
                margin-bottom: 30px;
            }
        }
        .img_container{
            display: flex;
            align-items: center;
            @media(max-width: 992px) {
                justify-content: center;
            }
        }
    }
}


.our_services_container{
    flex-wrap: wrap;
    @media(max-width: 768px) {
        margin-top: 40px;
    }
    .services_width{
        width: 33%;
        @media(max-width: 1200px) {
            width: 45%;
        }
        @media(max-width: 768px) {
            width: 100%;
        }
    }
    .service{
        background-color: #D3AC67;
        width: 309px;
        height: 244px;
        border-radius: 8px;
        margin-bottom: 67px;
        span{
            color: #FFF;
            font-size: 24px;
        }
    }
    a{
        margin: 10px;
        background-color: #100446;
        border-radius: 8px;
        color: #FFF;
        font-size: 18px;
        display: block;
        width: 91%;
        text-align: center;
        padding: 15px;
    }
}

// start mobile menu
